<%= content_tag :div,
  class: "#{playable ? 'w-[3.5rem] h-[4.5rem] md:w-20 md:h-28 cursor-pointer' : 'w-12 h-[4rem] md:w-20 md:h-28'} #{(defined?(last) && last && game.winner_id.nil?) ? 'duration-500 ease-out opacity-0 translate-y-[-20px] animate-card-enter' : ''} relative transition-transform #{defined?(facedown) && facedown ? 'bg-gradient-to-br from-slate-600 to-slate-800' : 'border border-white bg-gradient-to-br from-slate-200 from-10% via-white via-30% to-slate-400'} rounded-lg shadow-[0_0_5px_rgba(0,0,0,0.2)]",
  data: {
    controller: playable ? "card" : nil,
    card: card&.merge(gameId: game.id)&.to_json,
    action: playable ? "click->card#selectCard" : nil,
    card_target: "cardElement"
  } do %>
  <% if defined?(facedown) && facedown %>
    <div class="w-full h-full flex items-center justify-center">
      <svg width="30" height="30" viewBox="0 0 30 30" class="text-slate-500">
        <circle cx="5" cy="9" r="3" fill="currentColor"/>
        <circle cx="15" cy="9" r="3" fill="currentColor"/>
        <circle cx="25" cy="9" r="3" fill="currentColor"/>
        <circle cx="5" cy="21" r="3" fill="currentColor"/>
        <circle cx="15" cy="21" r="3" fill="currentColor"/>
        <circle cx="25" cy="21" r="3" fill="currentColor"/>
      </svg>
    </div>
  <% else %>
    <div class="w-full h-full flex flex-col items-start p-0.5 px-1.5 md:p-2">
      <div class="<%= card[:suit].in?(['♥', '♦']) ? 'text-red-500' : 'text-black' %> text-md md:text-xl">
        <%= card[:value] %><%= card[:suit] %>
      </div>
    </div>
  <% end %>
<% end %>