<div class="flex -space-x-2">
  <% count.times do %>
    <div class="w-16 h-24 bg-blue-600 rounded-lg border-2 border-white shadow-sm transform hover:-translate-y-1 transition-transform">
      <div class="w-full h-full flex items-center justify-center">
        <div class="grid grid-cols-3 gap-1 p-2">
          <% 9.times do %>
            <div class="w-2 h-2 bg-white rounded-full opacity-50"></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div> 