<% if current_user.id != game.player1_id %>
  <div id="game-status" class="w-full mb-6 px-6 text-center">
      <div class="w-full mx-auto bg-black/20 text-white/80 text-sm p-2 rounded-lg">Spectator mode</div>
  </div> 
<% end %>