<div id="game-status" class="w-full px-6 text-center">
  <% if current_user.id != game.player1_id %>
    <div class="mb-4 w-full mx-auto bg-black/20 text-white/80 text-xs p-1 rounded-lg">Spectator mode</div>
  <% end %>
</div> 