<div id="game-status" class="text-center mb-4">
  <p class="text-gray-600 dark:text-white">
    <span class="dark:text-white/70"><%= game.current_turn == current_user.id ? "Your" : "Opponent's" %> Turn:</span>
    <%= game.turn_phase.titleize %>
  </p>
</div> 