<div id="game-status" class="w-full mb-6 text-center">
  <% if current_user.id != game.player1_id %>
    <div class="mx-6 bg-black/20 text-white/80 text-sm p-2 rounded-lg">Spectator mode</div>
  <% end %>

  <% if game.winner_id %>
    <div class="w-full mb-6 px-6 text-center animate-enter-scale">
      <div class="w-full mx-auto bg-white text-black text-sm py-5 rounded-lg">
        <i class="fa fa-trophy text-yellow-500 text-2xl animate-bounce"></i>
        <h2 class="text-lg font-bold mb-0"><%= game.winner.email %></h2>
        <p class="text-gray-400 font-semibold mb-0">Winner</p>
      </div>
    </div>
  <% end %>
</div> 
