<%= turbo_stream_from "game_#{@game.id}_player_#{current_user.id}" %>

<div
  id="react-game-root"
  data-turbo="false"
  data-game="<%= @game_with_players.to_json %>"
  data-current-user="<%= current_user.to_json %>"
  class="text-white text-center">
    <div class="pt-4">
      <i class="fa fa-spinner fa-spin text-4xl text-slate-500"></i>
    </div>
</div>