<div
  id="react-timer-root"
  data-turbo="false"
  data-timer='{"initialTime": 60, "isCountdown": true}'
  class="text-white text-center">
    <div class="pt-4">
      <i class="fa fa-spinner fa-spin text-4xl text-slate-500"></i>
    </div>
</div>