<div class="w-full bg-white rounded-lg shadow-xl dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Sign in or sign up
        </h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |f| %>
            <div>
                <%#= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= f.text_field :email, autofocus: true, autocomplete: "name", class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-slate-400 focus:border-slate-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500", placeholder: "Enter your name", required: true %>
            </div>
            <%= f.submit "Start Playing", class: "w-full text-white bg-red-500 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800" %>
        <% end %>
    </div>
</div>