<div class="w-full md:mt-0 sm:max-w-md xl:p-0">
    <div class="">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-col gap-4" }) do |f| %>
            <%#= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.text_field :email, autofocus: true, autocomplete: "name", class: "bg-white text-slate-900 border-0 rounded-lg focus:ring-slate-400 block w-full p-2.5 placeholder-slate-400 focus:ring-slate-500 focus:ring-2", placeholder: "Enter your name", required: true %>
            <%= f.submit "Sign In", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>