<div class="w-full bg-slate-700 rounded-xl shadow-xl dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="p-6 sm:p-8">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-col gap-4" }) do |f| %>
            <%#= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.text_field :email, autofocus: true, autocomplete: "name", class: "bg-white text-slate-900 border-0 rounded-lg focus:ring-slate-400 block w-full p-2.5 placeholder-slate-400 focus:ring-slate-500 focus:ring-2", placeholder: "Enter your name", required: true %>
            <%= f.submit "Start Playing", class: "font-medium w-full rounded-lg font-medium text-base text-white rounded-lg bg-amber-500 hover:bg-amber-600 px-5 py-2.5" %>
        <% end %>
    </div>
</div>