@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  /* buttons */
  .btn {
    @apply px-5 py-6 w-full rounded-xl font-medium text-xl text-center text-white cursor-pointer bg-slate-600 hover:bg-slate-500;
  }
  
  .btn-primary {
    @apply bg-red-500;
  }

  .btn-secondary {
    @apply bg-gradient-to-br from-slate-500 to-slate-800 border-b-4 border-slate-700 hover:bg-gradient-to-br hover:from-slate-400 hover:to-slate-700;
  }

  .btn-outline {
    @apply border border-slate-500/60 bg-transparent hover:bg-slate-800;
  }
}

/* turbo progress bar */
.turbo-progress-bar {
  background: theme('colors.amber.500');
}

/* flowbite overrides */

/* override bg color for modal backdrop */
.fixed.inset-0.z-40 {
  background-color: #141822 !important;
  opacity: 0.7;
}

/* wild card */
.wild-card {
  position: relative;
  border-radius: 0.5rem;
  padding: 2px;
  background: linear-gradient(to bottom right, theme('colors.violet.500') 20%, theme('colors.rose.400') 70%, theme('colors.amber.300') 100%);
  isolation: isolate;
}

.wild-card:after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: calc(0.5rem - 2px);
  background: linear-gradient(to bottom right, #000 1%, theme('colors.violet.900') 80%);
  z-index: -1;
}

.wild-card > * {
  z-index: auto;
}